p {
    color: purple;
    font-family: 'Bebas Neue';
    font-size:100px;
    font-weight: bold;
    background-color: white;
    margin-left: 25%;
    margin-top: 50%;
}
a{
    text-decoration:none;
}
body {
    display: flex;
    background-image: url(https://sun9-66.userapi.com/impg/j_SOOjFxDcHxmKE2G90r5QHB9CT_cW-0Wt1Vjg/Mdn_wwjKE6A.jpg?size=1920x1440&quality=96&sign=c7213d570bc9c18092cbd88643ae390f&type=album);
    background-repeat: no-repeat;
    background-position: center;
}